<!DOCTYPE html>

<html>

<head>
	
	<meta content="text/html" name="keywords" http-equiv="Content-Type"  charset="utf-8" />

	<title>壮族老家</title>
	
	<meta content="壮族老家—养生上林" name="keywords" />
	<meta content="壮族老家—养生上林" name="description" />

	<link rel="stylesheet" type="text/css" href="../css/shanglin.css">
	<link rel="stylesheet" type="text/css" href="../css/dafeng.css">

</head>

<body>
	<!--header部分-->
	<div class="header">
		<div class="w1000">
			<p>壮族老家—养生上林，徐霞客最眷恋的地方欢迎您！</p>
		</div>
		
	</div>
	<div class="w1000">
		<div class="header_bottom">

			<a href="shanglin.html"><img src="../images/logo.png" width="300" height="50" alt="" title="壮族老家—养生上林"></a>

			<ul>
				<li><a href="shanglin.html">首页</a></li>
				<li><a href="geographic.html">地理</a></li>
				<li><a href="scenery.html">风景</a></li>
				<li><a href="delicacy.html">美食</a></li>
				<li><a href="cultrue.html">文化习俗</a></li>
				<li><a href="login.html">注册/登录</a></li>
			</ul>
		</div>

		
	</div>


<div class="container">
		
	
	<div class="content clearfix">

		<div class="leftbar">

            	<div class="leftnav">

                	<h1>壮族老家</h1>

					<ul class="ul_left">


						<li><h3><a href="shanglin.html">首页</a></h3></li>
						<li><h3><a href="geographic.html">地理</a></h3></li>
						<li><h3><a href="scenery.html">风景</a></h3></li>
						<li><h3><a href="delicacy.html">美食</a></h3></li>
						<li><h3><a href="cultrue.html">文化习俗</a></h3></li>
						<li><h3><a href="login.html">注册/登录</a></h3></li>
					</ul>
				</div>


			<div class="left_lx">

		        <h1>联系方式</h1>

		        <p>班级：软件Q164</p>

		        <p>联系人：韦思伊</p>

		    </div>
		</div>

	<div class="rightbar">
                
		<ul class="ul_zj clearfix">
			
			<!-- <li>
				<img src="images/糍粑.jpg" width="220px" height="165px"  onmousemove="this.width='320px';this.height='240px';" onmouseout="this.width='220px';this.height='165px';"><span>糍粑</span>
			</li>
			
			<li>
				<img src="images/卷筒粉.jpg" width="220px" height="165px" onmousemove="this.width='320px';this.height='240px';" onmouseout="this.width='220px';this.height='165px';"><span>卷筒粉</span>
			</li>
			
			<li>
				<img src="images/老友粉.jpg" width="220px" height="165px"  onmousemove="this.width='320px';this.height='240px';" onmouseout="this.width='220px';this.height='165px';"><span>老友粉</span>
			</li>
			
			<li>
				<img src="images/糯米饭.jpg" width="220px" height="165px"  onmousemove="this.width='320px';this.height='240px';" onmouseout="this.width='220px';this.height='165px';"><span>糯米饭</span>
			</li>
			
			<li>
				<img src="images/全鱼宴.jpg" width="220px" height="165px"  onmousemove="this.width='320px';this.height='240px';" onmouseout="this.width='220px';this.height='165px';"><span>全鱼宴</span>
			</li>
			
			<li>
				<img src="images/酸野.JPEG" width="220px" height="165px"  onmousemove="this.width='320px';this.height='240px';" onmouseout="this.width='220px';this.height='165px';"><span>酸野</span>
			</li>
			 -->
			
			<li>
				<img src="../images/糍粑.jpg" width="220px" height="165px"><span>糍粑</span>
			</li>
			
			<li>
				<img src="../images/卷筒粉.jpg" width="220px" height="165px""><span>卷筒粉</span>
			</li>
			
			<li>
				<img src="../images/老友粉.jpg" width="220px" height="165px"><span>老友粉</span>
			</li>
			
			<li>
				<img src="../images/糯米饭.jpg" width="220px" height="165px"><span>糯米饭</span>
			</li>
			
			<li>
				<img src="../images/全鱼宴.jpg" width="220px" height="165px"><span>全鱼宴</span>
			</li>
			
			<li>
				<img src="../images/酸野.JPEG" width="220px" height="165px"><span>酸野</span>
			</li>

		</ul>

		<div class="paging"></div>
            	
	</div>
</div>
		
		


	<!--footer部分-->

	<div class="footer">
		<p>2018-2019学期  软件工程 Q164 201609601152 韦思伊</p>
		<p>图片来源：网络</p>
	</div>

</body>
</html>
