<!DOCTYPE html>

<html>

<head>
	
	<meta content="text/html" name="keywords" http-equiv="Content-Type"  charset="utf-8" />

	<title>壮族老家</title>
	
	<meta content="壮族老家—养生上林" name="keywords" />
	<meta content="壮族老家—养生上林" name="description" />

	<link rel="stylesheet" type="text/css" href="../css/shanglin.css">
	<link rel="stylesheet" type="text/css" href="../css/dafeng.css">


	<style type="text/css">
		div#content td {
			font-size: 12px;
			font-family:"微软雅黑";
		}
	</style>

	<script type="text/javascript" src="../js/validate.js"></script>
	<script type="text/javascript" src="../js/validate2.js"></script>



</head>

<body>
	<!--header部分-->
	<div class="header">
		<div class="w1000">
			<p>壮族老家—养生上林，徐霞客最眷恋的地方欢迎您！</p>
		</div>
		
	</div>
	<div class="w1000">
		<div class="header_bottom">

			<a href="shanglin.html"><img src="images/logo.png" width="300" height="50" alt="" title="壮族老家—养生上林"></a>

			<ul>
				<li><a href="shanglin.html">首页</a></li>
				<li><a href="geographic.html">地理</a></li>
				<li><a href="scenery.html">风景</a></li>
				<li><a href="delicacy.html">美食</a></li>
				<li><a href="cultrue.html">文化习俗</a></li>
				<li><a href="login.html">注册/登录</a></li>
			</ul>
		</div>

		
	</div>


<div class="container">
		
	
	<div class="content clearfix">

		<div class="leftbar">

            	<div class="leftnav">

                	<h1>壮族老家</h1>

					<ul class="ul_left">


						<li><h3><a href="shanglin.html">首页</a></h3></li>
						<li><h3><a href="geographic.html">地理</a></h3></li>
						<li><h3><a href="scenery.html">风景</a></h3></li>
						<li><h3><a href="delicacy.html">美食</a></h3></li>
						<li><h3><a href="cultrue.html">文化习俗</a></h3></li>
						<li><h3><a href="login.html">注册/登录</a></h3></li>
					</ul>
				</div>


			<div class="left_lx">

		        <h1>联系方式</h1>

		        <p>班级：软件Q164</p>

		        <p>联系人：韦思伊</p>

		    </div>
		</div>

	<div class="rightbar">
                

            	<div class="con_news">

                	<p class="p_title2">

                    	<span>注册/登录</span>

                  </p>
					<div class="con">
						<form id="myForm" action="" onsubmit="return chkAll();">
      <table align="center" cellpadding="6" width="580">
        <caption>
        用户注册信息
        </caption>
        <tr>
          <td width="80" align="right"><label for="username">用户名：</label></td>
          <td width="140"><input name="text" type="text" id="username" size="20" onblur="chkUsername();" /></td>
          <td><div id="usernamePrompt">*以英文开头，4-16个英文、数字或下划线字符！</div></td>
        </tr>
        <tr>
          <td align="right"><label for="email">电子邮箱：</label></td>
          <td><input type="text" name="email" id="email" size="20" onBlur="chkEmail();"></td>
          <td><div id="emailPrompt">*</div></td>
        </tr>
        <tr>
          <td align="right"><label for="password">密码：</label></td>
          <td><input name="password" type="password" id="password" size="20" onBlur="chkPassword();" /></td>
          <td><div id="passwordPrompt">*英文字母、数字、下画线，且长度在6-24个字符！</div></td>
        </tr>
        <tr>
          <td align="right"><label for="password2">重复密码：</label></td>
          <td><input name="password2" type="password" id="password2" size="20" onblur="chkPassword2();" /></td>
          <td><div id="password2Prompt">*</div></td>
        </tr>
        <tr>
          <td align="right"><label for="idnum">身份证号码：</label></td>
          <td><input type="text" name="idnum" id="idnum" size="20" onblur="chkIdnum();"/></td>
          <td><div id="idnumPrompt">&nbsp;</div></td>
        </tr>
        <tr>
          <td align="right"><label for="phonenum">联系电话：</label></td>
          <td><input type="text" name="phonenum" id="phonenum" size="20" onblur="chkPhonenum();"/></td>
          <td><div id="phonenumPrompt">&nbsp;</div></td>
        </tr>
        <tr>
          <td align="right">&nbsp;</td>
          <td align="center"><input name="submit" type="submit" value="提交" />
            &nbsp;&nbsp;
            <input name="reset" type="reset" value="重置" /></td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </form>
						</div>
			
				</div>
	</div>
</div>
		
		


	<!--footer部分-->

	<div class="footer">
		<p>2018-2019学期  软件工程 Q164 201609601152 韦思伊</p>
		<p>图片来源：网络</p>
	</div>

</body>
</html>
