<!DOCTYPE html>
<html>
<head>
	
	<meta content="text/html" name="keywords" http-equiv="Content-Type"  charset="utf-8" />

	<title>壮族老家</title>
	
	<meta content="壮族老家—养生上林" name="keywords" />
	<meta content="壮族老家—养生上林" name="description" />

	<link rel="stylesheet" type="text/css" href="../css/shanglin.css">
	<link rel="stylesheet" type="text/css" href="../css/dafeng.css">

	<script type="text/javascript" src="../js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="../js/jquery.SuperSlide.2.1.js"></script>


</head>

<body>
	<!--header部分-->
	<div class="header">
		<div class="w1000">
			<p>壮族老家—养生上林，徐霞客最眷恋的地方欢迎您！</p>
		</div>
		
	</div>
	<div class="w1000">
		<div class="header_bottom">
			
			

			<a href="shanglin.html"><img src="../images/logo.png" width="300" height="50" alt="" title="壮族老家—养生上林"></a>

			<ul>
				<li><a href="shanglin.html">首页</a></li>
				<li><a href="geographic.html">地理</a></li>
				<li><a href="scenery.html">风景</a></li>
				<li><a href="delicacy.html">美食</a></li>
				<li><a href="cultrue.html">文化习俗</a></li>
				<li><a href="login.html">注册/登录</a></li>
			</ul>
		</div>

	</div>

	<div class="container">
		
<!--banner部分-->

		<div class="banner">

			<div class="bd">
				<img src="../images/IMG_4709.JPG" style="position: absolute; top: 10px; left: 150px; border-radius: 162px; border: none;" width="150px" height="150px">
				<ul>
					<li style="background: url(../images/鼓鸣寨.jpg) no-repeat center top;"></li>
					<li style="background: url(../images/tu8.jpg) no-repeat center top;"></li>
				</ul>
			</div>
			<div class="hd">
				<ul>
					<li></li>

					<li></li>
				</ul>
			</div>

			<a class="prev" href="javascript:void(0)"></a>

            <a class="next" href="javascript:void(0)"></a>

		</div>

		 <!--调用JS模块图片滚动--> 
        <script type="text/javascript">jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",delayTime:1000,interTime:5000,autoPlay:true, autoPage:true, trigger:"click" });</script>


		<div class="content">
			<!--content部分-->

			<p class="p_title1">走进上林</p>
			<ul class="ul_jishu clearfix">

				<li class="fl">
					<a href="#地理"><img src="../images/大龙湖.jpg" width="291" height="126" alt="" title=""></a>
					上林县，广西壮族自治区南宁市市辖县，位于广西壮族自治区中部，南宁市东北部，大明山东麓，东经108°23′至108°52′，北纬23°12′至23°28′，温热带气候。
				</li>
				

				<li class="fl ml20">
				<a href="#风景"><img src="../images/tu7.jpg" width="291" height="126" alt="" title=""></a>

					上林县旅游资源丰富，被人们称为广西壮族自治区首府南宁市的"后花园"。主要景点有:云里湖、金莲湖、大龙湖、鼓鸣寨、大明山风景区、澄泰洋渡风景区、东红湿地、东春下水源、毛塘湿地、有岭南状元村之称的"不孤村"人文景观等
					
				</li>
				<br>
				<li class="fr">
					<a href="#文化习俗"><img src="../images/风俗1.jpg" width="291" height="126" alt="" title=""></a>
					上林县是一个以壮族为主的多民族聚居地， 作为大南宁经济圈的重要一员，上林县深化改革，实行全方位、多层次、宽领域的对外开放，努力把上林建设成为南宁市的"后花园"和绿色农副产品重要供应地。中国老年学会2012年12月28日正式向广西上林县授予"中国长寿之乡·广西上林"牌匾和证书。
					
				</li>
			</ul>
			</div>


			<div class="zjfc">
				<p class="p_title1">上林风光</p>
				<div class="picScroll-left" style="margin-left: 150px;">
					<div class="hd">
						<a class="next"></a>
						<a class="prev"></a>
					</div>
					<div class="bd">
						<ul class="picList">

							<li>
								<div class="
								pic"><img src="../images/洋渡.jpg" width="231" height="151" /></div>
							</li>

							<li>
								<div class="
								pic"><img src="../images/葵花.jpg" width="231" height="151" /></div>
							</li>

							<li>
								<div class="
								pic"><img src="../images/b54318e50c8e06ec26a2fee43d1e7afb.jpg" width="231" height="151" /></div>
							</li>

							<li>
								<div class="
								pic"><img src="../images/鼓鸣寨.jpg" width="231" height="151" /></div>
							</li>

							<li>
								<div class="
								pic"><img src="../images/tu3.jpg" width="231" height="151" /></div>
							</li>

							<li>
								<div class="
								pic"><img src="../images/大龙湖.jpg" width="231" height="151" /></div>
							</li>
						</ul>
					</div>
				</div>

				<!--图片向左滚到-->
				<script type="text/javascript">
					jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click"});
				</script>

			</div>
		</div>

	</div>


	<!--footer部分-->

	<div class="footer">
		<p>2018-2019学期  软件工程 Q164 201609601152 韦思伊</p>
		<p>图片来源：网络</p>
	</div>
</body>
</html>